@model IEnumerable<TesteCedro.Models.Produto>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lista</title>

    <link rel="stylesheet" type="text/css" href="~/css/site.css">

    <style>
        .cardProduto {
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            width: 49%;
            height: 33%;
            margin: 5px;
            float: left;

        }
        .buttonProduto {
            margin:5px;
        }
        .cardProduto:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

        .container {
            padding: 2px 16px;
        }
    </style>


</head>
<body>
<h1>Lista de Produtos</h1>
<hr/>
<p>
    <a asp-action="CriarProduto">Criar produto</a>
</p>

@foreach (var produto in Model) {
    
        <div class="cardProduto">
 
            <img src=@Html.DisplayFor(modelproduto => produto.foto) 
                 alt="Avatar" style=" width:100%; height:250px;">

            <h4><b>@Html.DisplayFor(modelproduto => produto.nome)</b></h4>
            <p>@Html.DisplayFor(modelproduto => produto.valor)</p>
            <div class="buttonProduto">
                <button>@Html.ActionLink("Editar", "EditarProduto", new { id = produto.idProduto })</button>
                <button>@Html.ActionLink("Detalhes", "DetalharProduto", new {  id = produto.idProduto })</button>
                <button>@Html.ActionLink("Deletar", "ExcluirProduto", new { id = produto.idProduto })</button>
                <button>@Html.ActionLink("Comprar", "ComprarProduto", new { id = produto.idProduto })</button>
            </div>
        </div>
}
</body>
</html>
