@model IEnumerable<TesteCedro.Models.Produto>

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width" />
    <title>Lista</title>

    <link rel="stylesheet" type="text/css" href="~/css/site.min.css">

</head>
<body>
    <h1>Lista de Produtos</h1>
    <hr/>
    <div class="buttonProduto" style="margin-left:45%;">
        <a asp-action="CriarProduto" style=" background-color:lightblue; color:darkblue"  class="btn btn-default"><b>Criar produto</b></a>
    </div>
    <br />

    @foreach (var produto in Model)
    {
        <div class="cardProduto">
            <img class="img-thumbnail" src=@Html.DisplayFor(modelproduto => produto.foto)
                    alt="Avatar" style=" width:400px; height:250px; display:block; margin:auto;">

            <h4 style="margin:2px"> <b>Nome:</b> @Html.DisplayFor(modelproduto => produto.nome)</h4>
            <p style="margin:2px"> <b>Valor:</b> R$ @Html.DisplayFor(modelproduto => produto.valor)</p>
            <div class="buttonProduto">
                <button class="btn btn-default" style="background-color:aliceblue; color:darkblue; margin:3px"><b>@Html.ActionLink("Editar", "EditarProduto", new { id = produto.idProduto })</b> </button>
                <button class="btn btn-default" style="background-color:aliceblue; color:darkblue; margin:3px"><b>@Html.ActionLink("Detalhes", "DetalharProduto", new { id = produto.idProduto })</b> </button>
                <button class="btn btn-default" style="background-color:aliceblue; color:darkblue; margin:3px"><b>@Html.ActionLink("Deletar", "ExcluirProduto", new { id = produto.idProduto })</b> </button>
                <button class="btn btn-default" style="background-color:aliceblue; color:darkblue; margin:3px"><b>@Html.ActionLink("Comprar", "ComprarProduto", new { id = produto.idProduto })</b> </button>
            </div>
        </div>
    }
</body>
</html>
